<div class="row">
    <div id="article_container" class="col s12">
        {{#each contents}}
        <div id="news_{{this._id}}"">
            <div class=" col s12">
            <h4 class="header"><a href=" {{this.link}}" target="_blank">{{this.headline}}</a></h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="
                    {{#if this.image}}   
                        {{this.image}}
                    {{else}}
                        /images/no_image.png
                    {{/if}}
                    " style="width:112px;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            {{#if this.summary }}
                            {{this.summary }}
                            {{else}}
                            {{this.headline }}
                            {{/if}}
                        </p>
                        {{#if this.byline}}
                        <p style="font-style: italic;margin-top:8px;">{{this.byline}}</p>
                        {{/if}}
                    </div>
                    <div class="card-action">
                        {{#if saved}}
                        <a class="waves-effect waves-light btn orange modal-trigger" data-id="{{this._id}}"
                            data-headline="{{this.headline}}" data-toggle="modal" data-target="notemodal">ARTICLE
                            NOTES</a>
                        <a class="waves-effect waves-light btn red modal-trigger btn_save_article"
                            data-id="{{this._id}}" data-saved="false">DELETE ARTICLE</a>
                        {{else}}
                        <a class="waves-effect waves-light btn btn_save_article" data-id="{{this._id}}"
                            data-saved="true">SAVE
                            ARTICLE</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div id="notemodal" class="modal">
    <div class="modal-content">
        {{> note/note-block}}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div class="no_article_container">
    {{#if saved}}
    {{#unless contents}}
    <div class="card-panel orange accent-2 white-text center-align">
        <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
    </div>
    <div class="card-panel light-blue accent-4 white-text center-align">
        <h4>Would You Like to Browse Available Articles?</h4>
        <div class="card-panel light-blue accent-4 center-align">
            <h4><a class="white-text" href="/">Browse Articles</a></h4>
        </div>
    </div>
    {{/unless}}
    {{else}}
    <div class="card-panel orange accent-2 white-text center-align">
        <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div>
    <div class="card-panel light-blue accent-4 white-text center-align">
        <h3>What Would You Like To Do?</h3>
        <div class="card-panel light-blue accent-4 center-align">
            <h4><a class="white-text scrape-new" href="javascript:void(0);">Try Scraping New
                    Articles</a></h4>
            <h4><a class="white-text" href="/saved">Go to Saved Articles</a></h4>
        </div>
    </div>
    {{/if}}
</div>
</div>

{{#if contents}}
<script>
    $(".no_article_container").hide();
</script>
{{/if}}